<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashboardIOTSensors</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
            background-color: darkgray;
            
        }
        .grafana-iframe {
            width: 100%;
            height: 100vh; 
            border: none;  
        }
    </style>
</head>
<body>

    <p>DashboardIOTSensors</p>
    
    <iframe 
        src="http://localhost:3000/public-dashboards/65fe92bf244e40dbb7d0e1efd4e4142b?orgId=1&kiosk" 
        class="grafana-iframe">
    </iframe>
</body>
</html>